<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <style>
        [type="checkbox"]:not(:checked), [type="checkbox"]:checked {
            position: static!important;
            left: 0px!important;
            opacity: 1!important;
            visibility: visible!important;
            pointer-events: all!important;
        }
    </style>
</head>

<body>

<nav>
    <div class="container nav-wrapper">
        <a href="/" class="brand-logo">To Do</a>
        <ul id="nave-mobile" class="right">
            <li><a href="/">Home</a></li>
        </ul>
    </div>
</nav>

{% block content %}

{% endblock %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js">

</script>
</body>
</html>