<link rel="stylesheet">

<form method="POST" action="/">
    {% csrf_token %}
    {{ form.title }}
    <input type="Submit" value="Create">
</form>

{% for task in tasks %}
    <div>
        <a href="{% url 'update_task' task.id%}">Update</a>
        <a href="{% url 'delete' task.id %}">Delete</a>

        {% if task.complete == True %}
            <span style="text-decoration: line-through;">{{ task }}</span>
        {% elif task.in_the_past %}
            <span style="color:#c60000">{{ task }}</span>
        {% elif task.urgent %}
            <span style="font-style:italic; font-weight:bold">{{ task }}!</span>
        {% else %}
            <span>{{ task }}</span>
        {% endif %}
    </div>
{% endfor %}